<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>

<h1 id='zip' data-zip={{zip}}>{{zip}}</h1>

<div id='map' style='width: 1115px; height: 300px;'></div>
<div id="biggestCity"></div>
<script src="/js/maps.js"></script>