form.signup,
form.login {
  margin-top: 50px;
}
button.submit {
  float: right;
}

form#review {
  margin-top: 50px;
}

#review textarea {
  resize: none;
}

a {
  color: #f88400;
  font-weight: bold;
  
}

.btn {
  color: white !important;
  font-weight: bold;
}
.navbar-brand {
  color: white;
}
.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.zipcode-container {
  margin-top: 50px;
}

.zipcode-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#zipcode-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

.card {
  margin-bottom: 10px;
}
.card-body {
  color: black !important;
}